textarea 
{
    height: 7in;
    width: 5in;
}

.inputContainer
{
    display: flex;
    gap: 10px;
    justify-content: center;
    vertical-align: middle;
}

#buttonHolder
{
    display: flex;
    gap: 50px;
}

.buttonColumn
{
}

.typeToggler
{
    display: flex;
    gap: 10px;
    justify-content: left;
    margin: 10px;
}

